In [1]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

# Read the charity_data.csv.
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"],1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Generate our categorical variable list
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
# Determine the number of unique values in each column.
application_df[application_cat].nunique()

APPLICATION_TYPE          17
AFFILIATION                6
CLASSIFICATION            71
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
applType_count=application_df.APPLICATION_TYPE.value_counts()
applType_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Determine which values to replace if counts are less than ...?
replace_application = list(applType_count[applType_count < 100].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classific_count=application_df.CLASSIFICATION.value_counts()
classific_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2570        1
C1570        1
C6100        1
C2170        1
C1728        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# Determine which values to replace if counts are less than ..?
replace_class = list(classific_count[classific_count < 100].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [8]:
# Generate our categorical variable list
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
# Determine the number of unique values in each column.
application_df[application_cat].nunique()

APPLICATION_TYPE          10
AFFILIATION                6
CLASSIFICATION            12
USE_CASE                   5
ORGANIZATION               4
INCOME_AMT                 9
SPECIAL_CONSIDERATIONS     2
dtype: int64

In [9]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,APPLICATION_TYPE_T9,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [10]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=28)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  20
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 20)                1020
_________________________________________________________________
dense_1 (Dense)              (None, 5)                 105
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 6
=================================================================
Total params: 1,131
Trainable params: 1,131
Non-trainable params: 0
_________________________________________________________________

In [16]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])


# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=20)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/50
804/804 [==============================] - 1s 934us/step - loss: 0.6388 - accuracy: 0.6586
Epoch 2/50
804/804 [==============================] - 1s 891us/step - loss: 0.5618 - accuracy: 0.7264
Epoch 3/50
804/804 [==============================] - 1s 898us/step - loss: 0.5563 - accuracy: 0.7260
Epoch 4/50
804/804 [==============================] - 1s 889us/step - loss: 0.5542 - accuracy: 0.7259
Epoch 5/50
804/804 [==============================] - 1s 838us/step - loss: 0.5530 - accuracy: 0.7260
Epoch 6/50
804/804 [==============================] - 1s 724us/step - loss: 0.5497 - accuracy: 0.7276
Epoch 7/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7283
Epoch 8/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5475 - accuracy: 0.7296
Epoch 9/50
804/804 [==============================] - 1s 956us/step - loss: 0.5487 - accuracy: 0.7258
Epoch 10/50
804/804 [==============================] - 1s 889us/step - loss: 0.5479 - accuracy: 0.7291
Epoch 11/50
804/804 [==============================] - 1s 908us/step - loss: 0.5499 - accuracy: 0.7258
Epoch 12/50
804/804 [==============================] - 1s 974us/step - loss: 0.5476 - accuracy: 0.7284
Epoch 13/50
804/804 [==============================] - 1s 954us/step - loss: 0.5478 - accuracy: 0.7277
Epoch 14/50
804/804 [==============================] - 1s 956us/step - loss: 0.5487 - accuracy: 0.7253
Epoch 15/50
804/804 [==============================] - 1s 928us/step - loss: 0.5505 - accuracy: 0.7280
Epoch 16/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5491 - accuracy: 0.7264
Epoch 17/50
804/804 [==============================] - 1s 925us/step - loss: 0.5447 - accuracy: 0.7297
Epoch 18/50
804/804 [==============================] - 1s 902us/step - loss: 0.5463 - accuracy: 0.7320
Epoch 19/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5460 - accuracy: 0.7304
Epoch 20/50
804/804 [==============================] - 1s 914us/step - loss: 0.5463 - accuracy: 0.7306
Epoch 21/50
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7287
Epoch 22/50
804/804 [==============================] - 1s 773us/step - loss: 0.5460 - accuracy: 0.7322
Epoch 23/50
804/804 [==============================] - 1s 814us/step - loss: 0.5423 - accuracy: 0.7328
Epoch 24/50
804/804 [==============================] - 1s 801us/step - loss: 0.5462 - accuracy: 0.7304
Epoch 25/50
804/804 [==============================] - 1s 736us/step - loss: 0.5434 - accuracy: 0.7309
Epoch 26/50
804/804 [==============================] - 1s 734us/step - loss: 0.5419 - accuracy: 0.7319
Epoch 27/50
804/804 [==============================] - 1s 735us/step - loss: 0.5410 - accuracy: 0.7343
Epoch 28/50
804/804 [==============================] - 1s 763us/step - loss: 0.5402 - accuracy: 0.7324
Epoch 29/50
804/804 [==============================] - 1s 763us/step - loss: 0.5399 - accuracy: 0.7341
Epoch 30/50
804/804 [==============================] - 1s 728us/step - loss: 0.5426 - accuracy: 0.7337
Epoch 31/50
804/804 [==============================] - 1s 761us/step - loss: 0.5436 - accuracy: 0.7321
Epoch 32/50
804/804 [==============================] - 1s 742us/step - loss: 0.5441 - accuracy: 0.7334
Epoch 33/50
804/804 [==============================] - 1s 749us/step - loss: 0.5403 - accuracy: 0.7357
Epoch 34/50
804/804 [==============================] - 1s 704us/step - loss: 0.5411 - accuracy: 0.7344
Epoch 35/50
804/804 [==============================] - 1s 669us/step - loss: 0.5456 - accuracy: 0.7280
Epoch 36/50
804/804 [==============================] - 1s 730us/step - loss: 0.5399 - accuracy: 0.7319
Epoch 37/50
804/804 [==============================] - 1s 734us/step - loss: 0.5449 - accuracy: 0.7297
Epoch 38/50
804/804 [==============================] - 1s 732us/step - loss: 0.5397 - accuracy: 0.7355
Epoch 39/50
804/804 [==============================] - 1s 720us/step - loss: 0.5406 - accuracy: 0.7330
Epoch 40/50
804/804 [==============================] - 1s 727us/step - loss: 0.5396 - accuracy: 0.7369
Epoch 41/50
804/804 [==============================] - 1s 732us/step - loss: 0.5442 - accuracy: 0.7329
Epoch 42/50
804/804 [==============================] - 1s 826us/step - loss: 0.5418 - accuracy: 0.7349
Epoch 43/50
804/804 [==============================] - 1s 804us/step - loss: 0.5368 - accuracy: 0.7356
Epoch 44/50
804/804 [==============================] - 1s 794us/step - loss: 0.5364 - accuracy: 0.7383
Epoch 45/50
804/804 [==============================] - 1s 714us/step - loss: 0.5388 - accuracy: 0.7384
Epoch 46/50
804/804 [==============================] - 1s 725us/step - loss: 0.5392 - accuracy: 0.7369
Epoch 47/50
804/804 [==============================] - 1s 708us/step - loss: 0.5391 - accuracy: 0.7349
Epoch 48/50
804/804 [==============================] - 1s 719us/step - loss: 0.5356 - accuracy: 0.7389
Epoch 49/50
804/804 [==============================] - 1s 705us/step - loss: 0.5396 - accuracy: 0.7339
Epoch 50/50
804/804 [==============================] - 1s 721us/step - loss: 0.5410 - accuracy: 0.7367
268/268 - 0s - loss: 0.5510 - accuracy: 0.7307
Loss: 0.5509774088859558, Accuracy: 0.7307288646697998

### 2nd Trial

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  24
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)


# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 24)                1224
_________________________________________________________________
dense_4 (Dense)              (None, 12)                300
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 13
=================================================================
Total params: 1,537
Trainable params: 1,537
Non-trainable params: 0
_________________________________________________________________

In [18]:
# Compile the Sequential model together and customize metrics
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=20)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/20
804/804 [==============================] - 1s 755us/step - loss: 0.6161 - accuracy: 0.6847
Epoch 2/20
804/804 [==============================] - 1s 769us/step - loss: 0.5552 - accuracy: 0.7282
Epoch 3/20
804/804 [==============================] - 1s 752us/step - loss: 0.5488 - accuracy: 0.7327
Epoch 4/20
804/804 [==============================] - 1s 767us/step - loss: 0.5512 - accuracy: 0.7274
Epoch 5/20
804/804 [==============================] - 1s 761us/step - loss: 0.5509 - accuracy: 0.7253
Epoch 6/20
804/804 [==============================] - 1s 772us/step - loss: 0.5497 - accuracy: 0.7280
Epoch 7/20
804/804 [==============================] - 1s 851us/step - loss: 0.5499 - accuracy: 0.7290
Epoch 8/20
804/804 [==============================] - 1s 768us/step - loss: 0.5438 - accuracy: 0.7322
Epoch 9/20
804/804 [==============================] - 1s 775us/step - loss: 0.5462 - accuracy: 0.7334
Epoch 10/20
804/804 [==============================] - 1s 796us/step - loss: 0.5441 - accuracy: 0.7335
Epoch 11/20
804/804 [==============================] - 1s 770us/step - loss: 0.5340 - accuracy: 0.7388
Epoch 12/20
804/804 [==============================] - 1s 795us/step - loss: 0.5405 - accuracy: 0.7391
Epoch 13/20
804/804 [==============================] - 1s 800us/step - loss: 0.5485 - accuracy: 0.7319
Epoch 14/20
804/804 [==============================] - 1s 811us/step - loss: 0.5511 - accuracy: 0.7278
Epoch 15/20
804/804 [==============================] - 1s 756us/step - loss: 0.5439 - accuracy: 0.7335
Epoch 16/20
804/804 [==============================] - 1s 765us/step - loss: 0.5397 - accuracy: 0.7364
Epoch 17/20
804/804 [==============================] - 1s 778us/step - loss: 0.5424 - accuracy: 0.7346
Epoch 18/20
804/804 [==============================] - 1s 796us/step - loss: 0.5446 - accuracy: 0.7333
Epoch 19/20
804/804 [==============================] - 1s 842us/step - loss: 0.5463 - accuracy: 0.7320
Epoch 20/20
804/804 [==============================] - 1s 816us/step - loss: 0.5394 - accuracy: 0.7357
268/268 - 0s - loss: 0.5467 - accuracy: 0.7329
Loss: 0.546714186668396, Accuracy: 0.7329446077346802